.login-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    top: 50%;
    left: 50%;
    min-width: 480px;
    width: 30vw;
    height: 90vh;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 1.5em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    .login-heading-box {
        flex: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        font-family: "Luckiest Guy", cursive;
        background: url("../../image/movie.jpeg") bottom no-repeat;
        background-size: cover;
        box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.3), 0px 10px 10px rgba(0, 0, 0, 0.1);
        &::after {
            content: "";
            background: inherit;
            width: inherit;
            height: 60%;
            position: absolute;
            bottom: -60%;
            transform: scaleY(-1);
            opacity: 0.5;
        }
        &::before {
            content: "";
            width: inherit;
            height: 61%;
            position: absolute;
            bottom: -61%;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), white);
            z-index: 1;
        }
        .login-heading-title {
            margin: 0;
            font-size: 3em;
            color: rgba(255, 255, 255, 1);
            text-shadow: 1px 1px 10px rgb(0, 0, 0, 1);
        }
        p {
            margin: 0;
            padding: 0.2em;
            font-size: 5em;
            color: rgba(255, 255, 255, 1);
        }
    }
    .login-content-box {
        flex: 3;
        background-color: transparent;
    }
}