.login-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    top: 50%;
    left: 50%;
    min-width: 480px;
    width: 30vw;
    height: 90vh;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 1.5em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8), -1px -1px 10px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    .login-heading-box {
        flex: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        font-family: "Luckiest Guy", cursive;
        background: url("../../image/movie.jpeg") bottom no-repeat;
        background-size: cover;
        box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.3), 0px 10px 10px rgba(0, 0, 0, 0.1);
        &::after {
            content: "";
            background: inherit;
            width: inherit;
            height: 60%;
            position: absolute;
            bottom: -60%;
            transform: scaleY(-1);
            opacity: 0.5;
        }
        &::before {
            content: "";
            width: inherit;
            height: 61%;
            position: absolute;
            bottom: -61%;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), white);
            z-index: 1;
        }
        .login-heading-title {
            margin: 0;
            font-size: 3em;
            color: rgba(255, 255, 255, 1);
            text-shadow: 1px 1px 10px rgb(0, 0, 0, 1);
        }
        p {
            margin: 0;
            padding: 0.2em;
            font-size: 5em;
            color: rgba(255, 255, 255, 1);
        }
    }
    .login-content-box {
        flex: 3;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        .login-tabs {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 5em;
            font-family: "Libre Barcode 39 Text", cursive;
            overflow: hidden;
            color: rgba(0, 0, 0, 0.336);
            span {
                flex: 1;
                padding-top: 0.1em;
                height: 100%;
                font-size: 3em;
                text-align: center;
                background-color: #fff;
                z-index: 1;
                &:first-child {
                    margin-right: 0.5em;
                    padding-left: 0.5em;
                }
                &:last-child {
                    margin-left: 0.5em;
                    padding-right: 1em;
                }
            }
            &.login-tab-selected {
                .login-tab {
                    position: relative;
                    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.1);
                    color: #000;
                    background-color: transparent;
                    z-index: 2;
                    &::after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: translateX(100%);
                        content: "";
                        border-bottom: 1.66em solid transparent;
                        border-right: 1em solid #fff;
                    }
                }
            }
            &.register-tab-selected {
                .register-tab {
                    position: relative;
                    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.1);
                    background-color: transparent;
                    color: #000;
                    z-index: 2;
                    &::after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translateX(-100%);
                        content: "";
                        border-top: 1.66em solid #fff;
                        border-right: 1em solid transparent;
                    }
                }
            }
        }
        .form-container {
            flex: 1;
            display: flex;
            width: 100%;
            background-color: transparent;
            z-index: 1;
            .form-card {
                display: flex;
                align-self: center;
                flex-direction: column;
                justify-content: center;
                width: 50%;
                height: 100%;
                margin: 0 auto;
                .mb-3 {
                    margin-bottom: 0.3em !important;
                    .form-label {
                        margin-bottom: 0.2em;
                    }
                    .text-muted {
                        color: red !important;
                        font-size: 0.8em;
                    }
                }
                .form-submit-button {
                    margin: 1em 0;
                    background-color: rgba(13, 37, 63, 0.8);
                    border-color: rgba(13, 37, 63, 0.8);
                    font-family: "anton", cursive;
                }
            }
        }
    }
}